.option-button {
    width: 50%;
    height: 100px;
    font-size: 22px;
    display: block;
}

#options-container {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}

#flag-container {
    display: flex;
    flex-direction: row;
}

.flag {
    height: 35vh;
    margin: 30px;
}

